.UnMatchedPeersContainer {
    border: 1px solid gainsboro;
    border-radius: 5px;
    overflow-x: auto;
    width: 99.8%;
}

.UnMatchedPeersContainerContext {
    color: red;
    font-family: "IM FELL Great Primer SC", serif;
    margin-top: 10px;
    display: flex;
}

.UnMatchedContain {
    display: flex;
    flex-direction: row;
}

.UnMatchedPeersBlured {
    position: fixed;
    top: 125px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(255, 104, 104, 0.26);
    border-radius: 10px;
    width: 99.7vw;
    height: 90px;
}

.UnMatchedPeersBluredContextLink {
    position: fixed;
    top: 25%;
    left: 45%;
    background: white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: "IM FELL Great Primer SC", serif;
    font-size: 30px;
}

.UnMatchedPeersContainerContext .circle {
    height: 5px;
    width: 5px;
    display: inline-block;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -5px;
    left: 5px;
}

.UnMatchedContainProfilePicture {
    height: 70px;
    width: 70px;
}

.UnMatchedPeersContainerContext, .UnMatchedPeers {
    margin-left: 10px;
}