.MessageBoxContent {
    border-top: 1px solid gainsboro;
}

.Content {
    max-height: 67vh;
    overflow-y: auto;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(8.9%, 10.5%));
}

.divideTheySentYouSent {
    margin-bottom: 10px;
}
