.SearchBar {
    width: 50%;
    display: grid;
    grid-template-columns: 65% 15%;
    border-radius: 5px;
}

.SearchBarInput {
    height: 20px;
    border: 2px solid black;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    padding: 5px;
    color: black;
    font-family: "IM FELL Great Primer SC", serif;
}

.SearchBarInput::placeholder {
    color: black;
    font-family: "IM FELL Great Primer SC", serif;
}

.SearchBarIcon {
    height: 20px;
    width: 70%;
    position: relative;
    right: 4%;
    padding: 5px;
    border: 2px solid black;
    border-radius: 0px 5px 5px 0px;
}