.FoodSearchView {
    width: 99vw;
    grid-template-columns: 95% 5%;
    margin-top: 1%;
}

.FoodSearchView__Input {
    height: 60%;
    border-radius: 10px;
}

.FoodHeader {
    display: flex;
    flex-direction: row;
}

.FoodViewIconDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    bottom: -5px;
    right: 3.5%;
}

.FoodSearchView_Analysis {
    position: relative;
    left: 35%;
}

.FoodSearchView__Icon {
    height: 31%;
    width: 100%;
}

.FoodDetails {
    border: 2px solid gainsboro;
    border-radius: 10px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 95%
}

.FoodDetails__Name {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

.FoodDetails__ImportantInfor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.FoodDetails__TextImportant, .FoodDetails__TextImportantFacts {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
}

.FoodDetails__TextImportantFacts {
    text-align: center;
}


.FoodDetails__NutritionFacts {
    max-height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 15px;
    overflow: auto;
}

.FoodDetails_Button {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 10px;
    
}

.VerifiedFood, .UnVerifiedFood {
    background: green;
    color: white;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    position: relative;
    bottom: 5vh;
    margin-left: auto;
    margin-right: 0;
}

.UnVerifiedFood {
    background: red;
}