.MessageBox {
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.MessageBoxEmpty {
    width: -moz-fit-content;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 45%;
    font-family: "IM FELL Great Primer SC", serif;
    font-size: 20px;
    font-weight: bold;
}

.MessageBoxContainer {
    display: grid;
    grid-template-rows: 7% 88% 5%;
    height: 71vh;
}

.MessageBoxDetails {
    display: flex;
    gap: 10px;
}

.MessageBoxDetailsProfilePicture {
    width: 40px;
    height: 40px;
}

.MessageBoxDetailsName {
    font-weight: bold;
    font-family: "IM FELL Great Primer SC", serif;
    font-size: 20px;
    position: relative;
    top: 10px;
}

.MessageBoxInput {
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: 2% 95% 3%;
}

.MessageBoxEmojiPicker {
    position: relative;
    top: 3.5px;
    font-size: 20px;
}

.MessageBoxSendButton {
    font-size: 20px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    margin-left: 5px;
    background: rgb(48, 132, 241);
    color: white;
    cursor: pointer;
}

.MessageBoxTextInput {
    border: none;
    overflow: auto;
    resize: none;
}

.MessageBoxTextInput:focus {
    outline: none;
}

.MessageBoxSendButton:hover {
    background: rgb(15, 117, 250);
}

@media only screen and (max-width: 845px) {
    .MessageBoxEmojiPicker {
        display: none;
    }

    .MessageBoxInput {
        grid-template-columns: 85% 15%;
        z-index: 4;
    }

    .MessageBoxContainer {
        grid-template-rows: 7% 85% 6%;
    }
}
